
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="divport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0">
    <title>RandomGroupChooseTopicUI2</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <script src="~/js/jquery-1.11.3.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <link href="~/css/RandomGroupChooseTopicUI2.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: "/api/seminar/" + window.localStorage.getItem("seminarid") + "/Topic",
                contentType: "application/json; charset=utf-8",
                success: function (data, status) {
                    var topic = ["A", "B", "C"];
                    for (var i in data) {
                        var tdiv;
                        var color;
                        if (data[i].groupLeft == 0)
                            tdiv = "greyTopicDiv";
                        else {
                            tdiv = "blueTopicDiv";
                            if (data[i].groupLeft == 1)
                                color = "leftNumRed";
                            else color = "leftNumWhite";
                        }

                        var col = "<div><div class='" + tdiv + "'><span class='topic'>话题" + topic[i]
                            + "</span><div class='hrVertical'> </div><span class='topicName'>" + data[i].name
                            + "</span><span class='" + color + "'>剩余 ： " + data[i].groupLeft + "/" + data[i].groupLimit
                            + "</span><img src='../images/home.png' class='nineIcon'/></div><div class='topicDescribeDiv'>"
                            + "<span class='topicDescribeTitle'>" + data[i].name + "</span><span class='topicDescribeText'>"
                            + data[i].description + "</span> </div> </div>";
                        $("#list").append(col);
                    }

                }
            });
            function getDes(e) {
                if ($(e.target).is(".nineIcon")) {
                    $(this).parent().children(".topicDescribeDiv").toggle();
                }
                else {
                    if ($(this).hasClass("geryTopicDiv") == true)
                        return;
                    var confirmChoose = window.confirm("确定选择此话题吗？(一旦选定无法修改)");
                    if (confirmChoose) {
                        window.localStorage.setItem("topic", $(this).children(".topicName").text());
                        window.history.go(-1);
                    }
                }
            }
            $("#list").on('click', '.blueTopicDiv', getDes);
            $("#list").on('click', '.greyTopicDiv', getDes);
        });
    </script>
</head>

<body>
    <!--设置左上角的usersIcon-->
    <div class="blueUsersDiv">
        <img src="~/images/users.png" class='blueUsersIcon' />
        <strong class="title">请为您的队伍选题</strong>
    </div>

    <!--细线，hr不好设置css，用一个高度很小的div来代替-->
    <div class="hrDiv">
    </div>

    <div id="list"></div>

</body>
</html>
