@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="divport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>ChooseCharacter</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <script src="~/js/jquery-1.11.3.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <link href="~/css/ChooseCharacter.css" rel="stylesheet" type="text/css" />
    <script>
        $(document).ready(function () {
            $(".teacherButton").click(function () {
                window.localStorage.setItem("type", "teacher");
                $(window).attr("location", '/Teacher/TeacherBindingUI');
            });
            $(".studentButton").click(function () {
                window.localStorage.setItem("type", "student");
                $(window).attr("location", '/Student/StudentBindingUI');
            });
        });
    </script>
</head>
<body class="body">
    <div class="PictureDiv">
        <!-- 背景图的div -->
        <img class="bulb" src="../images/bulb.png" />
        <img src="../images/background.jpg" class="Picture" />
        <div class="title">请选择您的身份</div>
    </div>

    <div class="hrDiv"></div>
    <div class="teacherDiv">
        <button class="teacherButton">老师</button>
    </div>
    <div class="studentDiv">
        <button class="studentButton">学生</button>
    </div>
</body>
</html>
